$theme-color-background: #151515;
$theme-color-text: #FFF;

$primary-color1: #357E89;
$primary-color2: #7DADB4;
$primary-color3: #4ACE60;
$primary-color3-hover: #3ff15c;
$primary-color4: #14B9E2; 
$primary-color5: #1D339E; 
$primary-color6: #D4F3F8; 
$primary-color7: #212121; 

$border-color: #70707070;

$tablets-view-size: 1025px;
$desktops-view-size: 1324px;
