<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Table</title>
</head>

<body>
    <table style="width: 100%">
        <tbody>
            <tr>
                <td class="form_header">My Time-Table</td>
            </tr>
            <tr>
                <td class="form_header" style="color: #FF0000; font-size: large"><strong><em>If&nbsp; your Time Table is
                            not visible. kindly contact concerned class teacher immediately</em></strong></td>
            </tr>
            <tr>
                <td>
                    <div>
                        <div>
                            <table class="table table-bordered table-hover" cellspacing="0" rules="all" border="1"
                                id="ContentPlaceHolder1_gvMyTimeTable" style="border-collapse:collapse;">
                                <tbody>
                                    <tr>
                                        <th scope="col">Timing/Day</th>
                                        <th scope="col">Mon</th>
                                        <th scope="col">Tue</th>
                                        <th scope="col">Wed</th>
                                        <th scope="col">Thu</th>
                                        <th scope="col">Fri</th>
                                    </tr>
                                    <tr id="time-table-row">
                                        <td>09:30 - 10:20 AM</td>
                                        <td>20SMT-275:L :: GP-All: By Ria Gupta(E11390) at 1-318</td>
                                        <td>20TDP-251:P :: GP-B: By Niket Kumar Tiwari(E10039) at 1-301-A</td>
                                        <td>20SMT-275:L :: GP-All: By Ria Gupta(E11390) at 1-305</td>
                                        <td>20CSP-255:P :: GP-B: By Abdul Hafiz(E12384) at 1-113-A</td>
                                        <td>20CST-252:L :: GP-All: By Summi Goindi(E12244) at 1-308</td>
                                    </tr>
                                    <tr id="time-table-row">
                                        <td>10:20 - 11:10 AM</td>
                                        <td>20CST-252:L :: GP-All: By Summi Goindi(E12244) at 1-318</td>
                                        <td>20TDP-251:P :: GP-B: By Niket Kumar Tiwari(E10039) at 1-301-A</td>
                                        <td>20CST-254:L :: GP-All: By Chet Ram(E12391) at 1-305</td>
                                        <td>20CSP-255:P :: GP-B: By Abdul Hafiz(E12384) at 1-113-A</td>
                                        <td>20SMT-275:L :: GP-All: By Ria Gupta(E11390) at 1-308</td>
                                    </tr>
                                    <tr id="time-table-row">
                                        <td>11:10 - 12:00 PM</td>
                                        <td>20CST-258:L :: GP-All: By Sanjeev Kumar(E8752) at 1-318</td>
                                        <td>20CSP-253:P :: GP-B: By Summi Goindi(E12244) at 1-405</td>
                                        <td>20CSP-257:P :: GP-B: By Deepika (E11809) at 1-403</td>
                                        <td>20CST-256:L :: GP-All: By Deepika (E11809) at 1-306</td>
                                        <td>20CST-258:L :: GP-All: By Sanjeev Kumar(E8752) at 1-308</td>
                                    </tr>
                                    <tr id="time-table-row">
                                        <td>12:00 - 12:50 PM</td>
                                        <td>&nbsp;</td>
                                        <td>20CSP-253:P :: GP-B: By Summi Goindi(E12244) at 1-405</td>
                                        <td>20CSP-257:P :: GP-B: By Deepika (E11809) at 1-403</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr id="time-table-row">
                                        <td>1:00 - 1:50 PM</td>
                                        <td>20CST-254:L :: GP-All: By Chet Ram(E12391) at 1-305</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>20SMT-275:T :: GP-B: By Ria Gupta(E11390) at 1-405</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr id="time-table-row">
                                        <td>1:50 - 2:40 PM</td>
                                        <td>20CSP-259:P :: GP-B: By Gyan Chand Yadav(E12247) at 1-405-A</td>
                                        <td>20CST-256:L :: GP-All: By Deepika (E11809) at 1-305</td>
                                        <td>20CST-256:L :: GP-All: By Deepika (E11809) at 1-312</td>
                                        <td>&nbsp;</td>
                                        <td>20CSP-259:P :: GP-B: By Gyan Chand Yadav(E12247) at 1-111</td>
                                    </tr>
                                    <tr id="time-table-row">
                                        <td>2:40 - 3:30 PM</td>
                                        <td>20CSP-259:P :: GP-B: By Gyan Chand Yadav(E12247) at 1-405-A</td>
                                        <td>20CST-254:L :: GP-All: By Chet Ram(E12391) at 1-305</td>
                                        <td>20CST-258:L :: GP-All: By Sanjeev Kumar(E8752) at 1-304</td>
                                        <td>&nbsp;</td>
                                        <td>20CSP-259:P :: GP-B: By Gyan Chand Yadav(E12247) at 1-111</td>
                                    </tr>
                                    <tr id="time-table-row">
                                        <td>3:30 - 4:20 PM</td>
                                        <td>&nbsp;</td>
                                        <td>20CSY-251:L :: GP-All: By Ebin P M(E11284) at 1-305</td>
                                        <td>20CST-252:L :: GP-All: By Summi Goindi(E12244) at 1-311</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="margin-top:10px">
                        <div>
                            <table cellspacing="0" rules="all" border="1" id="ContentPlaceHolder1_gvMyTimeTableDetails"
                                style="border-collapse:collapse;">
                                <tbody>
                                    <tr>
                                        <th scope="col">CourseCode</th>
                                        <th scope="col">Title</th>
                                    </tr>
                                    <tr>
                                        <td>20CSP-253</td>
                                        <td>Microprocessor and Interfacing Lab</td>
                                    </tr>
                                    <tr>
                                        <td>20CSP-255</td>
                                        <td>Software Engineering Lab</td>
                                    </tr>
                                    <tr>
                                        <td>20CSP-257</td>
                                        <td>Computer Networks Lab</td>
                                    </tr>
                                    <tr>
                                        <td>20CSP-259</td>
                                        <td>Programming in Python Lab</td>
                                    </tr>
                                    <tr>
                                        <td>20CST-252</td>
                                        <td>Microprocessor and Interfacing</td>
                                    </tr>
                                    <tr>
                                        <td>20CST-254</td>
                                        <td>Software Engineering</td>
                                    </tr>
                                    <tr>
                                        <td>20CST-256</td>
                                        <td>Computer Networks</td>
                                    </tr>
                                    <tr>
                                        <td>20CST-258</td>
                                        <td>Principles of Artificial Intelligence</td>
                                    </tr>
                                    <tr>
                                        <td>20CSY-251</td>
                                        <td>Data Structures and Algorithm Analysis</td>
                                    </tr>
                                    <tr>
                                        <td>20SMT-275</td>
                                        <td>Probability and Statistics</td>
                                    </tr>
                                    <tr>
                                        <td>20TDP-251</td>
                                        <td>Soft Skills</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>